* {
    padding     : 0;
    margin      : 0;
    box-sizing  : border-box;
}

.board {
    display     : flex;
    flex-wrap   : wrap;
    /* border      : 1px solid black; */ /* this reduces the space and causes one row of boxes to be in an additional line */
}

.pixel {
    border      : 1px solid black;
}